.header{
    border: 1px solid black;
    height: 100px;
}
.nav{
    border: 1px solid black;
    height: 20px;
}

.main{
    border: 1px solid black;
    height: 600px;
    max-width: 900px;
    margin: auto; 
} 

.footer{
    border: 1px solid black;
    height: 20px;
}

.article{
    border: 1px solid black;
    height: 600px;
    max-width: 1000px;
    margin: auto;
}

.aside{
    border: 1px solid black; 
    margin: auto;  
    height: 100px;
    width: 750px;  
    margin: 450px 50px 10px 50px ; 
}