*{
    margin: 0;
    padding: 0;
}

main{
    max-width: 1000px;
    margin: auto;
    background-color: #2d3250;

}

nav{
    margin: 10px;
    padding: 5px;
}

nav > .titulo{
    text-align: center;
    color: #ffffff;
    border-bottom: 3px solid #17a;
}

.menu{
    text-align: center;
    display: flex;

}

.menu > .esquerda{
    background-color: cornflowerblue;
    padding: 10px;
    flex: 50%;
}

.menu > .direita{
    background-color: aqua;
    padding: 10px;
    flex: 50%;
}

@media(max-width: 800px){
    .menu{
        flex-direction: column;
    }
}
