
body{
    background-color: rgb(6, 6, 6);
    color: aliceblue;
}
                                                                                                                                                             
article h1{
    text-align: center;
}

article p{
    text-align:justify ;
}

 article .boxPadding{
    border: 1px solid rgb(111, 157, 18);
    padding-top:50PX ;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.box{
    
    
        border: 1px solid rgb(172, 41, 41);
        padding: 70px;
      
      
}

.box2 .boxPaddingg{
    background-color: rgb(70, 93, 113);
    border: 1px solid rgb(16, 16, 116);
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 75px;
    padding-left: 100px;
   
}