.grid{
    
    display: grid;
    max-width: 500px;
    margin: auto;
    grid-template-columns: 200px 200px 200px;
}



.filho{
   background-color: aqua;
   margin: 2px;
   border: 1px black solid;
   text-align: center;
}

.segundoexercicio{
    grid-template-columns: 1fr 2fr;
}